###
# #%L
# Sp8LifToMemento plugin for ImageJ.
# %%
# Copyright (C) 2023-2024 Jan Niklas Hansen, Emma Lundberg lab (https://ell-core.stanford.edu/)
# %%
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public
# License along with this program.  If not, see
# <http://www.gnu.org/licenses/gpl-3.0.html>.
# #L%
###
# Name: TifChannels_to_HPA_PNG_JPEG_Main_JNH

# Author: Jan Niklas Hansen
# Version: 0.0.5
# Date: 2023/08/07
# Requires: ImageJ/FIJI

Plugins>ELL-Plugins, "TifChannels to HPA-PNG-JPEG (v0.0.5)", tifCs2hpaPngJpeg_jnh.TifCs_to_HPA_PNG_JPEG_Main